# VSCode 관련 설정
.vscode/
*.code-workspace

# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints
*.egg-info/
.Python

# 가상환경 폴더
venv/
env/
.venv/

# 데이터 파일
*.csv
*.xlsx
*.json

# 로그 파일
*.log

# 셀레니움 드라이버 다운로드 경로
driver/

# 시스템 관련
.DS_Store
Thumbs.db